
.login {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25vh;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  h1 {
    color: #494949;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #673AB7;
    }
  }

  button {
    background-color: #673AB7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: darken(#673AB7, 10%);
    }
  }

  p {
    margin-top: 15px;
    a {
      color: #673AB7;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
